<div
  class="header"
  [class.hide-header-navbar]="isPopupVisible"
  [class.hide]="hideHeader"
>
  <div class="header-container">
    <div class="contact-logo">
      <p>
        <i class="fa-solid fa-envelope"></i
        >Smartechengineering.ofc&#64;gmail.com
      </p>
      <p><i class="fa-solid fa-mobile-button"></i>{{ phone }}</p>
    </div>
    <div class="social-icons">
      <p><i class="fa-brands fa-twitter"></i></p>
      <p><i class="fa-brands fa-facebook"></i></p>
      <p><i class="fa-brands fa-square-instagram"></i></p>
    </div>
  </div>
</div>
