body {
  margin: 0;
  padding: 0;
}
.footer {
  background-color: #fff;
  padding: 40px 20px 10px;
  color: #333;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.footer-column {
  flex: 1 1 220px;
  margin: 20px;
}

.footer-column h2,
.footer-column h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

.footer p {
  padding: 2%;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column p {
  padding: 2%;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #2a2a2a;
  transition: color 0.3s;
}
.social-icons {
  margin-right: 9.4rem;
  font-size: 1.5rem;
}

.social-icons a {
  display: flex;
  text-decoration: none;
  margin-top: 1rem;
  color: black;
}
.social-icons a:hover {
  color: #ffcc00;
}
.social-icons img {
  filter: brightness(0) invert(1);
}

.footer-bottom {
  text-align: center;
  padding: 18px;
  font-size: 14px;
  background-color: #f2f7ff;
  color: #333;
  border-top: 1px solid #ddd;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.footer-column ul li a:hover {
  color: rgb(126, 168, 226);
}

.highlight {
  color: #000000;
  font-weight: bold;
}

.back-to-top {
  background-color: #ffcc00;
  color: black;
  border: none;
  padding: 10px 20px 10px 10px;
  font-size: 18px;
  cursor: pointer;
  z-index: 999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, transform 0.3s;
  border-radius: 45px 0px 0px 45px;
}

.back-to-top:hover {
  background-color: #ffffff;
  transform: scale(1.1);
  color:#000000;
}

.bounce {
  animation: bounceUp 1.2s infinite;
}

@keyframes bounceUp {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.button{
  margin-left: 1329px;
  margin-bottom: 10px;
}


