<div class="title">
    <h3>ABOUT</h3>
    <h2>Find Out More <span>About Us</span></h2>
  </div>

  <section class="about-section">
    <div class="text-content">
      <p><em><strong>SmarTech Engineering</strong> is dedicated to ensuring the success of our clients by delivering world-class engineering services for Mechanical Design and Development Projects. Our commitment lies in providing top-notch solutions that meet the highest standards of excellence and innovation. With our expertise and dedication, we strive to empower our clients and drive their projects towards success.</em></p>

      <h3>Our Vision</h3>
      <p>To be a trusted global partner in mechanical design engineering, known for delivering innovative, precise, and sustainable solutions that empower industries to build smarter and faster.</p>

      <h3>Our Mission 🎯</h3>
      <p>To empower businesses with smart mechanical design solutions that are precise, scalable, and delivered with integrity.</p>

      <h3>Our Expertise</h3>
      <p>We blend <strong>strategic insight</strong>, <strong>engineering depth</strong>, and <strong>digital capability</strong> to help clients across industries shape their future. With our support, clients accelerate transformation and build a foundation for long-term growth.</p>

      <h3>Core Values</h3>
      <p><strong>Integrity 🕊️</strong>
        We stand by our commitments, communicate honestly, and foster trust through transparency.</p>

      <p><strong>Innovation 🚀</strong>
        We continuously adapt, improve, and leverage technology to deliver intelligent design solutions that stay ahead of the curve.

      <p><strong>Collaboration 🤝</strong>
        We work alongside our clients as partners, sharing knowledge and co-creating to reach shared success.</p>
    </div>

    <div class="image-container">
      <img src="about.png" alt="Team Hands Together">
    </div>
  </section>