<div class="section">
    <div class="title">
        <h3>about</h3>
        <h1>Find Out More <span>About Us</span></h1>
    </div>
    <div class="container">
        <div class="content-section">
            <div class="content">
                <p>
                    <span>SmarTech Engineering</span>is dedicated to ensuring the success of 
                    our clients by delivering world-class engineering services for 
                    Mechanical Design and Development Projects. Our 
                    commitment lies in providing top-notch solutions that meet the 
                    highest standards of excellence and innovation. With our 
                    expertise and dedication, we strive to empower our clients and 
                    drive their projects towards success. <br><br>
                </p>

                <h4>Our Vision</h4>
                    To be a trusted global partner in mechanical design engineering, known for delivering innovative, precise, and sustainable 
                    solutions that empower industries to build smarter and faster.<br><br>
                <h4>Our Mission🎯</h4>
                    To empower businesses with smart mechanical design solutions that are precise, scalable, and delivered with integrity.<br><br>
                <h4>Our Expertise</h4>
                    We blend <b>strategic insight</b>, <b>engineering depth</b>, and <b>digital capability</b> to help clients across industries shape their future.
                    With our support, clients accelerate transformation and build a foundation for long-term growth.
                    <br><br>
                <h4>Core Values</h4>
                    <h4>Integrity 🧭</h4>
                    We stand by our commitments, communicate honestly, and foster trust through transparency.<br><br>
                    <h4>Innovation 🚀</h4>
                    We continuously adapt, improve, and leverage technology to deliver intelligent design solutions that stay ahead of the curve.<br><br>
                    <h4>Collaboration 🤝</h4>
                    We work alongside our clients as partners, sharing knowledge and co-creating to reach shared success.
            </div>
        </div>
        <div class="imgsection">
            <img src="about.png" alt="">
        </div>
    </div>
</div>