
<div class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo">
      <img src="logo new.png" alt="Logo" />
    </div>

    <div class="menu-icon" (click)="toggleMenu()">
      {{ menuOpen ? "✖" : "☰" }}
    </div>

    <div class="nav-links" [ngClass]="{ show: menuOpen }">
      <a href="#home"  (click)="closeMenu()">Home</a>

      <a href="#about" routerLinkActive="active" (click)="closeMenu()"
        >About</a
      >
      <a href="#services" routerLinkActive="active" (click)="closeMenu()"
        >Services</a
      >
      <a href="#portfolio" routerLinkActive="active" (click)="closeMenu()"
        >Portfolio</a
      >
      <a href="#career" routerLinkActive="active" (click)="closeMenu()"
        >Career</a
      >
      <a href="#contact" routerLinkActive="active" (click)="closeMenu()"
        >Contact</a
      >
    </div>
  </div>
</div>