<div class="navbar" [class.hide-header-navbar]="isPopupVisible"  [class.move-up]="moveUp">
  <div class="navbar-container">
    <div class="navbar-logo">
      <img src="logo new.png" alt="Logo" />
    </div>

    <div class="menu-icon" (click)="toggleMenu()">
      {{ menuOpen ? "✖" : "☰" }}
    </div>

    <div class="nav-links" [ngClass]="{ show: menuOpen }">
      <a
        class="con"
        href="#home"
        [class.active]="activeSection === 'home'"
        (click)="closeMenu()"
        >Home</a
      >
      <a
        class="con"
        href="#about"
        [class.active]="activeSection === 'about'"
        (click)="closeMenu()"
        >About</a
      >
      <a
        class="con"
        href="#services"
        [class.active]="activeSection === 'services'"
        (click)="closeMenu()"
        >Services</a
      >
      <a
        class="con"
        href="#portfolio"
        [class.active]="activeSection === 'portfolio'"
        (click)="closeMenu()"
        >Portfolio</a
      >

      <a
        class="con"
        href="#career"
        [class.active]="activeSection === 'career'"
        (click)="closeMenu()"
        >Career</a
      >
      <a
        class="con"
        href="#contact"
        [class.active]="activeSection === 'contact'"
        (click)="closeMenu()"
        >Contact</a
      >
    </div>
  </div>
</div>
