@keyframes slideUpFadeIn {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#portfolio {
  font-family: sans-serif;
  animation: slideUpFadeIn 1.5s;
  text-align: center;
  padding: 60px 20px;
  background: linear-gradient(to bottom, #e7f1fd, #f5faff);
}

#portfolio h5 {
  color: #ffcc00;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  background-color: #ffffff;
  padding: 6px 18px;
  border-radius: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

#portfolio h2 {
  font-size: 28px;
  margin-bottom: 30px;
  //color :#d5aeae;
}

.portfolio-strong {
  font-family: "Times New Roman", Times, serif;
  color: #ffcc00;
}

.portfolio-filter {
  list-style: none;
  padding: 0;
  margin: 0 auto 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio-filter li {
  margin: 5px 10px;
  padding: 8px 16px;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #120000;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
}

.portfolio-filter li.active,
.portfolio-filter li:hover {
  background-color: #e3bb5d;
  color: #000000;
}

.portfolio-gallery {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  gap: 30px;
  row-gap: 4px;
  justify-content: center;
}

.portfolio-item {
  margin: 15px 0;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.8s ease-in-out, background-color 0.5s ease;
  cursor: pointer;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-item:hover {
  background-color: #7f7d89;
  border-radius: 40px;
  transform: scale(1.05);
}

.portfolio-item img {
  width: 70%;
  height: auto;
  transition: transform 0.8s ease-in-out;
  object-fit: contain;
}

.image-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  width: 230px;
  background-color: rgba(255, 254, 254, 0.75);
  color: #120000;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 40px;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.4s ease-in-out;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 20px;
  border: 0.01px #000000 solid;
}

.portfolio-item:hover .image-title {
  opacity: 1;
  transform: scale(1.08);
}

.popup {
  display: flex;
  position: fixed;
  inset: 0;
  background: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  background: #434242;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 90%;
  max-height: 80%;
  position: relative;
  z-index: 1000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.popup-content img {
  max-width: 100%;
  max-height: 60vh;
  border-radius: 8px;
}

.popup-content p {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #130000;
  background-color: #ffffff;
  border-radius: 18px;
  height: 50px;
  width: 650px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 0.1px #000000 solid;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 40px;
  color: #333;
  cursor: pointer;
  font-weight: bold;
  background: none;
  border: none;
}

.close-btn:hover{
  color:#ffffff;
}


@media (max-width: 768px) {
  #portfolio {
    padding: 40px 10px;
  }

  #portfolio h2 {
    font-size: 22px;
  }

  .portfolio-filter {
    flex-direction: column;
    align-items: center;
  }

  .portfolio-filter li {
    margin: 8px 0;
    width: 80%;
    text-align: center;
  }

  .portfolio-gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    row-gap: 8px;
  }

  .portfolio-item img {
    width: 100%;
    height: auto;
  }

  .popup-content {
    padding: 10px;
    max-width: 95%;
    max-height: 90%;
  }

  .popup-content img {
    max-width: 100%;
    max-height: 40vh;
  }

  .popup-content p {
    font-size: 16px;
    width: 90%;
    height: auto;
    padding: 10px;
    margin: 10px auto 0;
    flex-wrap: wrap;
    line-height: normal;
    word-break: break-word;
  }

  .close-btn {
    font-size: 36px;
    top: 8px;
    right: 12px;
    padding: 5px;
    touch-action: manipulation;
    color:#ffffff;
  }

  .close-btn:hover {
    color: #ffffff;
    transform: scale(1.1);
  }
}

@media (max-width: 480px) {
  .portfolio-gallery {
    grid-template-columns: 1fr;
  }

  .popup-content p {
    font-size: 14px;
  }
}

