* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  //padding-top: 120px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

[id] {
  scroll-margin-top: 90px;
}

.hide-header-navbar {
  display: none !important;
}

