<div class="banner-card" id="home">
  <img src="HomePage.png" alt="" />
  <div class="banner-text zoom-in" index="0">
    <h1>Welcome to <span class="highlight-text">SmarTech Engineering</span></h1>
    <h3>Smart. Precise. Scalable.</h3>
    <p>
      We are a mechanical design engineering company delivering end-to-end
      mechanical concept design solutions. Whether you're seeking 2D drafting,
      3D modeling, or complete system development, we support clients with
      flexible delivery tailored to your unique needs.
    </p>

    <div class="wcu" index="1">
      <h3>Why Choose Us...</h3>
      <ul>
        <p class="ul">
          Comprehensive Mechanical Design Expertise Flexible Engagement Models
          (Onsite, Offsite, Offshore, Hybrid)
          <span>Transparent Pricing & Reliable Support</span>
        </p>
      </ul>
      <div class="buttons">
        <button class="rm"><a href="#services">Explore Services</a></button>
        <button class="cn"><a href="#contact">Get in Touch</a></button>
      </div>
    </div>
  </div>
</div>