* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Times New Roman", Times, serif;
}

.banner-card {
  position: relative;
}

.banner-card img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  object-fit: cover;
}

.banner-text {
  position: absolute;
  top: 10%;
  color: #fff;
  padding: 30px;
  letter-spacing: 2px;
}

.highlight-text {
  color: black;
}

.banner-text h2 {
  font-size: 30px;
  margin-bottom: 8px;
}

.banner-text p {
  text-shadow: 2px 1px black;
}

.banner-text .cn {
  width: 120px;
  height: 40px;
  background: rgb(206, 204, 204);
  border: none;
  margin-top: 15px;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}

.banner-text .cn a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.banner-text .cn:hover {
  background-color: rgb(222, 222, 70);
}

.wcu {
  position: absolute;
  top: 40%;
  right: 0%;
  color: #fff;
  padding: 30px;
  letter-spacing: 2px;
}

.wcu h2 {
  font-size: 30px;
  margin-bottom: 8px;
  color: black;
  text-shadow: 2px 1px whitesmoke;
}

.wcu ul {
  text-shadow: 2px 1px black;
  color: white;
  list-style-position: inside;
}

.wcu ul li::marker {
  color: black;
}

.wcu .rm {
  width: 160px;
  height: 40px;
  background: rgb(191, 189, 189);
  border: none;
  margin-top: 15px;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}

.wcu .rm a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.wcu .rm:hover {
  background-color: rgb(222, 222, 70);
  border: 2px solid black;
}
