.banner-card{
    position: relative;
}
.banner-card img{
    max-width: 100%;
    height:auto;
}
.banner-text{
    position: absolute;
    top: 10%;
    color: #fff;
    padding: 30px;
    letter-spacing: 2px;
}
.highlight-text{
    color:black;
}
.banner-text h2{
    font-size:30px;
    margin-bottom: 8px;
}
.banner-text p{
    text-shadow: 2px 1px black;
    font-family: 'Times New Roman', Times, serif;
}

.banner-text .cn{
    width: 120px;
    height: 40px;
    background: rgb(206, 204, 204);
    border: none;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 15px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s ease;
    font-family: 'Times New Roman', Times, serif;

}
.banner-text .cn a{
    text-decoration: none;
    color: black;
    transition: .2s ease;
    font-weight: bold;
}
.banner-text .cn:hover{
    background-color: rgb(222, 222, 70);
    color: black;
}

.wcu{
    position: absolute;
    top: 40%;
    color: #fff;
    padding: 30px;
    letter-spacing: 2px;
    right:0%;
}

.wcu h2{
    font-size:30px;
    margin-bottom: 8px;
    color: black;
    text-shadow: 2px 1px whitesmoke;
}
.wcu ul{
    text-shadow: 2px 1px black;
    font-family: 'Times New Roman', Times, serif;
}
.wcu ul{
    color: white;
}
.wcu ul li::marker{
    color: black;
}

.wcu .rm{
    width: 160px;
    height: 40px;
    background: rgb(191, 189, 189);
    border: none;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 15px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s ease;
    font-family: 'Times New Roman', Times, serif;

}
.wcu .rm a{
    text-decoration: none;
    color: black;
    transition: .2s ease;
    font-weight: bold;
}
.wcu .rm:hover{
    background-color: rgb(222, 222, 70);
    color: black;
    border: black 2px;
}