<div class="banner-card">
  <img src="HomePage.png" alt="" />
  <div class="banner-text" index="0">
    <h2>Welcome to <span class="highlight-text">SmarTech Engineering</span></h2>
    <p>
      We are a mechanical design engineering company delivering end-to-end
      mechanical concept design solutions.<br />Whether you're seeking 2D
      drafting, 3D modeling, or complete system development, we support clients
      with flexible delivery <br />
      tailored to your unique needs.
    </p>
    <button class="cn"><a href="#">Get in Touch</a></button>
  </div>

  <div class="wcu" index="1">
    <h2>Why Choose Us...</h2>
    <ul>
      <li>Comprehensive Mechanical Design Expertise</li>
      <li>Flexible Engagement Models (Onsite, Offsite, Offshore, Hybrid)</li>
      <li>Transparent Pricing & Reliable Support</li>
    </ul>
    <button class="rm"><a href="#">Explore Our Services</a></button>
  </div>
</div>
